---
// components
import SectionNav from "../components/nav/SectionNav.astro"
import ButtonDarkmode from "../components/ButtonDarkmode.astro"
import Container from "../components/folders/Container.astro"
---

<div class="w-full h-full flex flex-col">
    <div class="flex justify-between items-center py-3 flex-wrap-reverse gap-y-3">

        <SectionNav />

        <div class="d">
            <ButtonDarkmode />
        </div>
    </div>

    <Container />
    
</div>